/*--------------------------------fonts----------------------------------*/
@font-face {
  font-family:'Circe';
  src:url('/fonts/circe.eot');
  src:url('/fonts/circe.eot?#iefix') format('embedded-opentype'),
  url('/fonts/circe.woff') format('woff'),
  url('/fonts/circe.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'Circe';
  src:url('/fonts/circeel.eot');
  src:url('/fonts/circeel.eot?#iefix') format('embedded-opentype'),
  url('/fonts/circeel.woff') format('woff'),
  url('/fonts/circeel.ttf') format('truetype');
  font-weight:200;
  font-style:normal;
}
@font-face {
  font-family:'Circe';
  src:url('/fonts/circel.eot');
  src:url('/fonts/circel.eot?#iefix') format('embedded-opentype'),
  url('/fonts/circel.woff') format('woff'),
  url('/fonts/circel.ttf') format('truetype');
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family:'Circe';
  src:url('/fonts/circeb.eot');
  src:url('/fonts/circeb.eot?#iefix') format('embedded-opentype'),
  url('/fonts/circeb.woff') format('woff'),
  url('/fonts/circeb.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family:'Circe';
  src:url('/fonts/circexb.eot');
  src:url('/fonts/circexb.eot?#iefix') format('embedded-opentype'),
  url('/fonts/circexb.woff') format('woff'),
  url('/fonts/circexb.ttf') format('truetype');
  font-weight:800;
  font-style:normal;
}
